body {
  background: rgba(227, 242, 253, 0.5);
}

form {
  font-family: "Poppins", sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 20px;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #bbb9c3;
}

a {
  color: #2196f3;
}

footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  border-top: 1px solid #f9f7fe;
  padding-top: 30px;
  color: rgba(39, 33, 66, 0.4);
}

.container {
  background: white;
  width: 600px;
  margin: 60px auto;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.main-temperature {
  display: flex;
  justify-content: space-between;
  font-size: 57px;
  font-family: "Bebas Neue", sans-serif;
  color: #1c394f;
  margin-bottom: 10px;
}

.main-degrees {
  position: relative;
  top: 25px;
}

.main-degrees-emoji {
  font-size: 36px;
  position: relative;
  top: -14px;
  right: -7px;
}

.main-degrees-value {
  font-size: 95px;
  letter-spacing: 1.5px;
}

.main-degrees-unit {
  font-size: 38px;
  position: relative;
  top: -39px;
  left: -3px;
}
.highlight {
  color: #e8668d;
}
.submit {
  color: white;
  background: rgba(66, 165, 245, 0.8);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 18%;
}

.city-input {
  border: none;
  background-color: rgba(227, 242, 253, 0.26);
  color: rgba(39, 33, 66, 0.2);
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}
